In [11]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [12]:
raw_data = pd.read_csv("sdssdr9_potential_asteroids_ejgl.csv")

In [13]:
raw_data

,objID,fieldID,ra,dec,raErr,decErr,i,err_i,TAI_i,mjd,velocity
0,1237646748751495408,1237646748751495168,88.345738,-0.980807,0.049701,0.058736,16.92947,0.148884,4.418441e+09,51139,19.101608
1,1237648703520047195,1237648703520047104,221.577894,-0.829987,0.030273,0.024047,16.52773,0.009508,4.428727e+09,51258,7.386067
2,1237649769186459756,1237649769186459648,353.122789,72.000915,0.120523,0.128500,12.01601,0.002508,4.445994e+09,51458,100.653549
3,1237651735230940130,1237651735230939136,204.824061,1.463065,0.063002,0.061330,21.36320,0.097111,4.464145e+09,51668,8.406944
4,1237653618546114678,1237653618546114560,165.678648,61.738197,0.113552,0.094766,14.74325,0.005019,4.482040e+09,51875,7.103111
...,...,...,...,...,...,...,...,...,...,...,...
875,1237676483877470964,1237676483877470208,109.793841,-14.578306,0.113447,0.113496,25.14089,1.006068,4.703646e+09,54440,15.614057
876,1237678538492412044,1237678538492411904,318.885347,13.871530,0.399786,0.399070,24.36479,1.102624,4.728953e+09,54733,9.443283
877,1237678585725321534,1237678585725321216,32.362889,23.651647,0.228185,0.241636,21.54540,0.136860,4.729576e+09,54740,16.770938
878,1237679079121223773,1237679079121223680,349.209617,-4.086385,0.084674,0.087663,14.08882,0.010460,4.733874e+09,54790,7.318567
879,1237680302098810455,1237680302098808832,326.808054,21.848612,0.627471,0.235707,21.77703,1.277970,4.762471e+09,55121,8.457699

In [14]:
raw_data.columns

Index(['objID', 'fieldID', 'ra', 'dec', 'raErr', 'decErr', 'i', 'err_i',
       'TAI_i', 'mjd', 'velocity'],
      dtype='object')

In [4]:
col = raw_data.columns.tolist()
ids = [item for item in col if 'TAI' in item]
ids

['TAI_i']

In [5]:
'''
columns needed:
obs_id : program assigned unique observation ID (objID)
exposure_id : program assigned exposure ID (a single exposure can have many observations) (fieldID)
mjd_utc : Modified Julian Date [MJD] in UTC (convert TAI_i to mjd)
ra : J2000 Right Ascension in degrees (ra)
dec : J2000 Declination in degrees (dec)
ra_sigma : 1-sigma uncertainty in RA in degrees (raErr)
dec_sigma : 1-sigma uncertainty in Dec in degrees (decErr)
filter : band in which observation was made (i)
mag : magnitude in filter (i)
mag_sigma : 1-sigma magnitude uncertainty in magnitude (err_i)
obscode : MPC observatory code (645)


'''

'\ncolumns needed:\nobs_id : program assigned unique observation ID (objID)\nexposure_id : program assigned exposure ID (a single exposure can have many observations) (fieldID)\nmjd_utc : Modified Julian Date [MJD] in UTC (convert TAI_i to mjd)\nra : J2000 Right Ascension in degrees (ra)\ndec : J2000 Declination in degrees (dec)\nra_sigma : 1-sigma uncertainty in RA in degrees (raErr)\ndec_sigma : 1-sigma uncertainty in Dec in degrees (decErr)\nfilter : band in which observation was made (i)\nmag : magnitude in filter (i)\nmag_sigma : 1-sigma magnitude uncertainty in magnitude (err_i)\nobscode : MPC observatory code (645)\n\n\n'

In [6]:
raw_data['TAI_i']
# use TAI_i as time of observation (units in sec/TimeUnixTai)
# convert to mjd via astropy

0      4.418441e+09
1      4.428727e+09
2      4.445994e+09
3      4.464145e+09
4      4.482040e+09
           ...
875    4.703646e+09
876    4.728953e+09
877    4.729576e+09
878    4.733874e+09
879    4.762471e+09
Name: TAI_i, Length: 880, dtype: float64

In [7]:
raw_data['mjd_i'] = raw_data['TAI_i']/(24*3600)

In [8]:
#times = Time(raw_data['TAI_i'], format='unix_tai')
#times.mjd

In [9]:
formatted_data = {
    'obs_id':raw_data['objID'],
    'exposure_id':raw_data['fieldID'],
    'mjd_utc':raw_data['mjd_i'],
    'ra':raw_data['ra'],
    'dec':raw_data['dec'],
    'ra_sigma':raw_data['raErr'],
    'dec_sigma':raw_data['decErr'],
    'filter':'i',
    'mag':raw_data['i'],
    'mag_sigma':raw_data['err_i'],
    'obscode':645
}

formatted_df = pd.DataFrame(formatted_data)
formatted_df

,obs_id,exposure_id,mjd_utc,ra,dec,ra_sigma,dec_sigma,filter,mag,mag_sigma,obscode
0,1237646748751495408,1237646748751495168,51139.368851,88.345738,-0.980807,0.049701,0.058736,i,16.92947,0.148884,645
1,1237648703520047195,1237648703520047104,51258.413136,221.577894,-0.829987,0.030273,0.024047,i,16.52773,0.009508,645
2,1237649769186459756,1237649769186459648,51458.268770,353.122789,72.000915,0.120523,0.128500,i,12.01601,0.002508,645
3,1237651735230940130,1237651735230939136,51668.339960,204.824061,1.463065,0.063002,0.061330,i,21.36320,0.097111,645
4,1237653618546114678,1237653618546114560,51875.463639,165.678648,61.738197,0.113552,0.094766,i,14.74325,0.005019,645
...,...,...,...,...,...,...,...,...,...,...,...
875,1237676483877470964,1237676483877470208,54440.346828,109.793841,-14.578306,0.113447,0.113496,i,25.14089,1.006068,645
876,1237678538492412044,1237678538492411904,54733.249960,318.885347,13.871530,0.399786,0.399070,i,24.36479,1.102624,645
877,1237678585725321534,1237678585725321216,54740.466103,32.362889,23.651647,0.228185,0.241636,i,21.54540,0.136860,645
878,1237679079121223773,1237679079121223680,54790.210512,349.209617,-4.086385,0.084674,0.087663,i,14.08882,0.010460,645
879,1237680302098810455,1237680302098808832,55121.190494,326.808054,21.848612,0.627471,0.235707,i,21.77703,1.277970,645

In [10]:
#download whole table from casjobs